@use "sass:math";

@import "reset";
@import "variables";
@import "mixins";
@import "spacing";
@import "html";
@import "text";
@import "colors";
@import "layout";
@import "blocks";
@import "buttons";
@import "tables";
@import "forms";
@import "animations";
@import "tinymce";
@import "codemirror";
@import "components";
@import "header";
@import "footer";
@import "lists";
@import "pages";

// Jquery Sortable Styles
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
body.dragging,
body.dragging * {
  cursor: move !important;
}

// User Avatar Images
.avatar {
  border-radius: 100%;
  @include lightDark(background-color, #eee, #000);
  width: 30px;
  height: 30px;
  &.med {
    width: 40px;
    height: 40px;
  }
  &.large {
    width: 80px;
    height: 80px;
  }
  &.huge {
    width: 120px;
    height: 120px;
  }
  &.square {
    border-radius: 3px;
  }
  &[src$="user_avatar.png"] {
    @include whenDark {
      filter: invert(1);
    }
  }
}

// Loading icon
$loadingSize: 10px;
.loading-container {
  position: relative;
  display: block;
  margin: $-xl auto;
  > div {
    width: $loadingSize;
    height: $loadingSize;
    border-radius: $loadingSize;
    display: inline-block;
    vertical-align: top;
    transform: translate3d(-10px, 0, 0);
    margin-top: $-xs;
    animation-name: loadingBob;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
    margin-inline-end: 4px;
    background-color: var(--color-page);
    animation-delay: 0.3s;
  }
  > div:first-child {
    left: -($loadingSize + $-xs);
    background-color: var(--color-book);
    animation-delay: 0s;
  }
  > div:last-of-type {
    left: $loadingSize + $-xs;
    background-color: var(--color-chapter);
    animation-delay: 0.6s;
  }
  > span {
    margin-inline-start: $-s;
    font-style: italic;
    color: #888;
    vertical-align: top;
  }
}

// Back to top link
$btt-size: 40px;
[back-to-top] {
  background-color: var(--color-primary);
  position: fixed;
  bottom: $-m;
  right: $-l;
  padding: 5px 7px;
  cursor: pointer;
  color: #fff;
  fill: #fff;
  svg {
    width: math.div($btt-size, 1.5);
    height: math.div($btt-size, 1.5);
    margin-inline-end: 4px;
  }
  width: $btt-size;
  height: $btt-size;
  border-radius: $btt-size;
  transition: all ease-in-out 180ms;
  opacity: 0;
  z-index: 999;
  overflow: hidden;
  &:hover {
    width: $btt-size * 3.4;
    opacity: 1 !important;
  }
  .inner {
    width: $btt-size * 3.4;
  }
  span {
    position: relative;
    vertical-align: top;
    line-height: 2;
  }
}

.skip-to-content-link {
  position: fixed;
  top: -$-xxl;
  left: 0;
  background-color: #fff;
  z-index: 15;
  border-radius: 0 4px 4px 0;
  display: block;
  box-shadow: $bs-dark;
  font-weight: bold;
  &:focus {
    top: $-xl;
    outline-offset: -10px;
    outline: 2px dotted var(--color-primary);
  }
}

.contained-search-box {
  display: flex;
  height: 38px;
  input,
  button {
    border-radius: 0;
    border: 1px solid #ddd;
    @include lightDark(border-color, #ddd, #000);
    margin-inline-start: -1px;
  }
  input {
    flex: 5;
    padding: $-xs $-s;
    &:focus,
    &:active {
      outline: 0;
    }
  }
  button {
    width: 60px;
  }
  button i {
    padding: 0;
  }
  button.cancel.active {
    background-color: $negative;
    color: #eee;
  }
  svg {
    margin: 0;
  }
}

.entity-selector {
  border: 1px solid #ddd;
  @include lightDark(border-color, #ddd, #111);
  border-radius: 3px;
  overflow: hidden;
  font-size: 0.8em;
  input[type="text"] {
    width: 100%;
    display: block;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: $-s $-m;
  }
  .entity-list {
    overflow-y: scroll;
    height: 400px;
    @include lightDark(background-color, #eee, #222);
    margin-inline-end: 0;
    margin-inline-start: 0;
  }
  .entity-list-item {
    @include lightDark(background-color, #fff, #222);
  }
  .entity-list-item p {
    margin-bottom: 0;
  }
  .entity-list-item:focus {
    outline: 2px dotted var(--color-primary);
    outline-offset: -4px;
  }
  .entity-list-item.selected {
    @include lightDark(
      background-color,
      rgba(0, 0, 0, 0.05),
      rgba(255, 255, 255, 0.05)
    );
  }
  .loading {
    height: 400px;
    padding-top: $-l;
  }
  .entity-selector-add button {
    margin: 0;
    display: block;
    width: 100%;
    border: 0;
    border-top: 1px solid #ddd;
  }
  &.compact {
    font-size: 10px;
    .entity-item-snippet {
      display: none;
    }
  }
}

.scroll-box {
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: 3px;
  .scroll-box-item {
    padding: $-xs $-m;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-top: -1px;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.scroll-box[data-instruction]:before {
  content: attr(data-instruction);
  padding: $-xs $-m;
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 0.75rem;
  color: #666;
}

.fullscreen {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
}

.list-sort-container {
  display: inline-block;
  form {
    display: inline-block;
  }
  .list-sort {
    display: inline-grid;
    margin-inline-start: $-s;
    grid-template-columns: minmax(120px, max-content) 40px;
    font-size: 0.9rem;
    border: 2px solid #ddd;
    @include lightDark(border-color, #ddd, #444);
    border-radius: 4px;
  }
  .list-sort-label {
    font-weight: bold;
    display: inline-block;
    @include lightDark(color, #555, #888);
  }
  .list-sort-type {
    text-align: start;
  }
  .list-sort-type,
  .list-sort-dir {
    padding: $-xs $-s;
    cursor: pointer;
  }
  .list-sort-dir {
    border-inline-start: 2px solid #ddd;
    color: #888;
    @include lightDark(border-color, #ddd, #444);
    .svg-icon {
      transition: transform ease-in-out 120ms;
    }
    &:hover .svg-icon {
      transform: rotate(180deg);
    }
  }
}

table.table .table-user-item {
  display: grid;
  grid-template-columns: 42px 1fr;
  align-items: center;
}
table.table .table-entity-item {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("../images/computer-board.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
}

h1 {
  font-size: 25px;
  margin: 20px 0;
  font-weight: bold;
  color: #666;
}

.profile-title {
  color: #ff5722;
}

.student-profileImg {
  text-align: center;
}

.navbar {
  padding: 3px 100px;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  color: #e80000;
  font-weight: bold;
  font-size: 28px;
}

.dropdown-menu {
  background-color: #dde1f1;
  padding: 0;
}

.nav li a {
  padding: 15px 10px;
}

.dropdown-menu > li > a {
  padding: 8px 10px;
}

.dropdown-menu > li > a:hover {
  background-color: #7ed6df;
}

.navbar-nav {
  padding-left: 130px;
  font-size: 15px;
}

.upper-bar {
  padding: 10px;
  background-color: #fff;
}

.my-image {
  width: 40px;
  height: 40px;
}

.login-page form,
.the-errors {
  max-width: 310px;
  margin: auto;
}

.login-page form input {
  margin-bottom: 5px;
}

.login-page [data-class="login"].selected {
  color: #337ab7;
}

.login-page [data-class="signup"].selected {
  color: #5cb85c;
}

.login-page h1 {
  color: #c0c0c0;
}

.login-page h1 span {
  cursor: pointer;
}

.login-page .signup {
  display: none;
}

.the-errors .msg {
  padding: 10px;
  text-align: left;
  background-color: #fff;
  margin-bottom: 8px;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  color: #919191;
}

.the-errors .error {
  border-left: 5px solid #cd6858;
}

.the-errors .success {
  border-left: 5px solid #bbff22;
}

.item-box {
  position: relative;
}

.item-box .grade-tag {
  background-color: #f44336;
  padding: 2px 10px;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: bold;
  color: #fff;
}

.information {
  margin-top: 20px;
}

.information ul {
  padding: 0;
  margin: 0;
}

.information ul li {
  padding: 10px;
}

.information ul li:nth-child(odd) {
  background-color: #eee;
}

.information ul li span {
  display: inline-block;
  width: 120px;
}

.information .btn {
  margin-top: 10px;
}

.thumbnail .date {
  text-align: right;
  font-size: 13px;
  color: #aaa;
  font-weight: bold;
}

.item-box .approve-status {
  background-color: #b85a5a;
  position: absolute;
  top: 9px;
  left: 122px;
  color: #fff;
  padding: 3px 5px;
}

.item-box caption p {
  height: 44px;
  max-height: 44px;
}

.lecturer-detail summary a {
  font-size: 18px;
  text-decoration: none;
  color: #009688;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.lecturer-detail summary a:focus,
.lecturer-detail summary a:hover {
  color: #2196f3;
}

.lecturer-detail summary a:active {
  color: #607d8b;
}

.course-subject {
  color: #2196f3;
}

.show-pass {
  display: flex;
  margin-bottom: 10px;
}

.show-pass span {
  margin-top: 7px;
  text-align: center;
}

.save-discard {
  text-align: right;
}

/*start main rules*/

body {
  background-color: #f4f4f4;
  font-size: 16px;
}

h1 {
  font-size: 25px;
  /*margin: 20px 0;*/
  font-weight: bold;
  color: #666;
}

/*end main rules*/

/*start navbar*/

.navbar {
  padding: 3px 100px;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  color: #9191f9;
  font-weight: bold;
  font-size: 28px;
}

.dropdown-menu,
.sitting {
  background-color: #dde1f1;
  padding: 0;
}

.nav li a {
  padding: 15px 10px;
}

.dropdown-menu > li > a {
  padding: 8px 10px;
}

.dropdown-menu > li > a:hover {
  background-color: #7ed6df;
}

.navbar-nav {
  padding-left: 130px;
  font-size: 15px;
}

/*end navbar*/

/*start upper bar*/

.upper-bar {
  padding: 10px;
  background-color: #fff;
}

.my-image {
  width: 40px;
  height: 40px;
}

.upper-bar a span {
  font-size: 18px;
}

/*end upper bar*/

/*start courseProfile page*/

.course-info h2 {
  margin: 0;
  padding: 10px;
  /*font-size: 22px;*/
}

.course-info p {
  padding: 10px;
}

.course-info ul li {
  padding: 10px;
}

.course-info ul li:nth-child(odd) {
  background-color: #e8e8e8;
}

.course-info ul li span {
  display: inline-block;
  width: 120px;
}

.add-video,
.add-description,
.update-description {
  padding: 10px;
  width: 500px;
  /*height: 260px;*/
  position: fixed;
  left: 520px;
  top: 150px;
  border: 1px solid #bbb;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 6px 8px #ddd;
  display: none;
}

.cancel {
  margin-top: 10px;
}

.sitting {
  background: #fff;
}

.sitting > li > a:hover {
  background: #b90000;
  color: #fff;
}

.description {
  background: #fff;
  padding: 20px 0px 20px 1px;
  border: 1px solid #9d9d9d;
  font-size: 18px;
  border-radius: 5px;
}

.description .desc {
  padding: 7px 40px;
  position: relative;
  overflow: hidden;
}

.desc li {
  display: inline-block;
  margin-left: 35px;
  width: 800px;
}

.desc:hover {
  background: #eee;
}

.description .desc .hidden-control {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 7px;
  right: -130px;
}

.description .desc:hover .hidden-control {
  right: 30px;
}

.enroll {
  width: 300px;
  font-size: 22px;
  display: block;
  margin: 40px auto 30px;
  padding: 20px;
}

.video {
  padding: 5px 3px;
  background: #333;
  border: 1px solid #000;
  border-radius: 0px;
  overflow: hidden;
}

.start-exam,
.start-exam:hover {
  background: #337aff;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.start-exam:hover {
  background-color: #adaa8b;
  box-shadow: 2px 6px 8px #aaa;
  color: #000;
}

.comment-box {
  margin-bottom: 20px;
}

.comment-box img {
  max-width: 100px;
  margin-bottom: 10px;
}

.comment-box .lead {
  background-color: #e0e0e0;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  /*width: 650px;*/
  font-size: 18px;
  padding-bottom: 13px;
}

.comment-box .lead:before {
  content: "";
  width: 0;
  height: 0;
  border: 20px solid;
  border-color: transparent #e0e0e0 transparent transparent;
  position: absolute;
  left: -32px;
  top: 5px;
}

.edit-comment-form {
  display: none;
}

.add-comment h3 {
  margin: 0 0 10px;
}

.add-comment textarea {
  display: block;
  margin-bottom: 10px;
  width: 500px;
  height: 120px;
}

/*end courseProfile page*/

/*start play video page*/

.paging a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.paging a:hover {
  background-color: #5d5d5d;
  box-shadow: 2px 6px 8px #555;
  color: white;
}

.previous,
.next {
  background-color: #9d9d9d;
  color: white;
  font-size: 20px;
  position: absolute;
}

.previous {
  left: 195px;
}

.next {
  left: 925px;
}
/*end play video page*/

/*start out custom*/

.custom-hr {
  border-top: 1px solid #c9c9c9;
}

/*end out custom*/
